<div data-bank="<%= params['bank'] %>" data-user_id="<%= @current_user.id %>" data-controller="connectors--direct_connector_process" id="connector_process" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
      Connect with <%= @bank_name %>
    </h3>
    <button type="button" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
      <%= render "icons/cross" %>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-4 md:p-5 space-y-4">
    <div class="flex items-center justify-center w-100 h-32">
      <div role="status">
        <%= render 'icons/loading-spinner' %>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="flex justify-center align-items-center progress-message text-sm" id="initiating">We are connecting with your bank</div>
    <div class="flex justify-center align-items-center progress-message text-sm hidden" id="logging_in">We are logging in your bank account</div>
    <div class="progress-message hidden" id="confirm_two_factor_notification">
      <div class="flex justify-center align-items-center text-sm m-4">You should have received notification, please confirm when you have allowed access</div>
      <div class="flex justify-center align-items-center">
        <button data-action="click->connectors--direct_connector_process#send_two_factor" class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Confirm Access</button>
      </div>
    </div>
    <div class="flex justify-center align-items-center progress-message text-sm hidden" id="received_connector_prompt">Recieved Two Factor</div>
    <div class="flex justify-center align-items-center progress-message text-sm hidden" id="login_complete">Login is successful</div>
  </div>
  <!-- Modal footer -->
  <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b justify-end justify-items-center">
    <button data-action="click->connectors--direct_connector_process#close_modal" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">Decline</button>
  </div>
</div>
