<div id="transactions-page" class="p-2 bg-white" data-controller="transactions--index">
  <div class="block items-center justify-between p-4">
    <div class="w-full">
      <div class="mb-4">
        <!--<%= render 'helpers/breadcrumbs', crumbs: [['Transactions']] %>-->
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Your Transactions</h1>
      </div>
      <%= render 'transactions/index_header' %>
    </div>
  </div>
  <div class="relative overflow-x-auto p-4 pt-0">
    <div class="border border-gray-300 rounded-lg overflow-hidden">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            Date
          </th>
          <th scope="col" class="px-6 py-3">
            Description
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Amount
          </th>
          <th scope="col" class="px-6 py-3">
            Type
          </th>
          <th scope="col" class="px-6 py-3">
            Account
          </th>
          <th scope="col" class="px-6 py-3">
            Bank
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @transactions.each do |transaction| %>
          <%= render('transactions/transaction_row', transaction: transaction, references: @user_references) %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="flex bg-white justify-center p-6">
      <% if @page.first? %>
        <button disabled class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
          <%= render 'icons/pointer-left' %>
          Previous
        </button>
      <% else %>
        <a href="<%= transactions_path(page: @page.next_param - 2, filter: params[:filter]&.to_unsafe_hash) %>" class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
          <%= render 'icons/pointer-left' %>
          Previous
        </a>
      <% end %>
      <% if @page.last? %>
        <button disabled class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
          Next
          <%= render 'icons/pointer-right' %>
        </button>
      <% else %>
        <a href="<%= transactions_path(page: @page.next_param, filter: params[:filter]&.to_unsafe_hash) %>" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
          Next
          <%= render 'icons/pointer-right' %>
        </a>
      <% end %>
    </div>
  </div>
  <div id="background_processing_modal"></div>
</div>
