<div
  id="asset_row_<%= asset.id %>"
  data-controller="assets--row"
  data-asset_id="<%= asset.id %>"
  class="bg-white p-6 rounded-lg shadow-md mb-4 break-inside-avoid-column">
  <h2 class="text-lg font-bold mb-2"><%= asset.name %></h2>
  <p class="text-gray-600 mb-4"><%= asset.description %></p>
  <p class="text-gray-600 mb-2">Type: <%= asset.asset_label %></p>
  <p class="text-gray-600 mb-2">Value: <%= number_to_currency(asset.value) %></p>
  <div class="flex">
    <button data-action="click->assets--row#open_drawer" class="flex p-2 py-1.5 rounded-lg text-sm text-white bg-primary-700 items-center justify-center">Edit</button>
    <%= link_to 'Delete', financial_asset_path(asset), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'flex p-2 py-1.5 rounded-lg text-sm text-white bg-red-700 items-center justify-center mx-2' %>
  </div>
  <div id="edit_asset_drawer_<%= asset.id %>" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80">
    <h5 id="drawer-label" class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase">Update Asset</h5>
    <button data-action="click->assets--row#close_drawer" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center" >
      <%= render "icons/cross" %>
      <span class="sr-only">Close menu</span>
    </button>
    <%= form_with(model: asset, url: financial_asset_path(asset.id)) do |f| %>
      <%= render 'financial_assets/form', f: f, references: @user_references %>
      <div class="flex items-center justify-end">
        <button type="button" data-action="click->assets--row#close_drawer" class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">Decline</button>
        <%= f.submit "Update", class: 'cursor-pointer ms-3 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
      </div>
    <% end %>
  </div>
</div>