<div 
  data-controller="new_connector" 
  id="new_connector" 
  class="px-4 pt-6 dark:bg-gray-900" 
  data-action="connector_process:close_modal@window->new_connector#close_modal"
  data-new_connector-errors-count="<%= @connector.errors.size %>">
  <div class="mb-4 col-span-full xl:mb-2">
    <nav class="flex mb-5" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
        <li class="inline-flex items-center">
          <a href="#" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
            <%= render "icons/home" %>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <%= render "icons/arrow-right" %>
            <a href="#" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-primary-500">Pages</a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <%= render "icons/arrow-right" %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Playground</span>
          </div>
        </li>
      </ol>
    </nav>
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= @bank_name %></h1>
    <div class="px-4 p-6 my-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <% unless @connector.persisted? %>
        <span> You are not connected to <%= @bank_name %> yet, </span>
        <button class="" type="button" data-modal-target="connector-modal"  id="connector-modal-opener">Connect Now</button>
      </div>
    <% end -%>
  </div>
</div>
<div id="connector-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <%= render 'connectors/connector_form' %>
    <div id="connector_process"></div>
  </div>
</div>