<div 
  id="new_connector"
  data-controller="extension_connector_process"
  tabindex="-1" 
  aria-hidden="true"
  data-bank="<%= params['bank'] %>" 
  data-user_id="<%= @current_user.id %>"
  data-extension_id="<%= Rails.application.credentials.chrome_extension_id %>"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  data-turbo-temporary>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Connect with <%= @bank_name %>
        </h3>
        <button data-action="click->extension_connector_process#close_modal" type="button" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <%= render "icons/cross" %>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div id="progress-spinner" class="flex items-center justify-center w-100 h-32">
          <div role="status">
            <%= render 'icons/loading-spinner' %>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div id="progress-messages">
          <div class="flex justify-center align-items-center progress-message text-sm" id="initiating">Connecting with extension</div>
          <div class="flex justify-center align-items-center progress-message text-sm hidden" id="installed">Connected with extension, connecting to Bank</div>
          <div class="flex justify-center align-items-center progress-message text-sm hidden" id="found_bank">We are connected to Bank, pulling your accounts</div>
          <div class="flex justify-center align-items-center progress-message text-sm hidden" id="pulled_accounts">We have pulled your accounts, pulling transactions</div>
          <div class="flex justify-center align-items-center progress-message text-sm hidden" id="pulled_transactions">We have pulled your transactions, syncing your data</div>
        </div>
        <div id="error-messages" class="p-4 text-sm text-red-800 rounded-lg bg-red-50 hidden" role="alert">
          <div class="error-message font-medium" id="chrome_unavailable">We need chrome browser to connect.</div>
          <div class="error-message font-medium" id="no_accessible_extension">We could not reach any extension, have you installed our extension?</div>
          <div class="error-message font-medium" id="unable_to_reach_extension">We could not reach our extension, check if it is active?</div>
          <div class="error-message font-medium" id="bank_not_found">We could not connected with Bank tab, if you are connected please refresh</div>
          <div class="error-message font-medium" id="pull_accounts_fail">Unable to pull accounts</div>
          <div class="error-message font-medium" id="pull_transactions_fail">Unable to pull transactions</div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b justify-end justify-items-center">
        <button data-action="click->extension_connector_process#close_modal" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">Decline</button>
      </div>
    </div>
  </div>
</div>
