<%- if @condition['type'] != 'group' %>
  <div class="w-full flex bg-blue-100 p-2" condition>
    <%- if @condition['join_by'].present? %>
      <div class="p-2 uppercase bg-green-100"><%= @condition['join_by'] %></div>
    <%- end %>
    <div class="p-2">
      When
      <%= @condition['type'].to_s.humanize %>
      <%= @config[:join_with] %>
      <%- if @condition['type'] == 'category' %>
        <%= categories_by_id[@condition['value']] %>
      <%- elsif @condition['type'] == ['tags'] %>
        <%= @condition.value.join(',') %>
      <%- else %>
        <%= @condition['value'] %>
      <%- end %>
      <%= 
      link_to('Delete', 
      delete_condition_transaction_rule_path(group_id: @group_id, index: @index),
      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
      class: 'text-white bg-red-700 hover:bg-red-800 font-sm text-xs rounded-lg text-sm px-4 py-2 text-center')
    %>
    </div>
    
  </div>
<%- else %>
  <div class="w-full flex p-2 bg-pink-100 pb-0" conditon>
    <%- if @condition['join_by'].present? %>
      <div class="pr-2 py-2 uppercase"><%= @condition['join_by'] %></div>
    <%- end %>
    <div class="flex-1">
      <%= render(TransactionRules::ConditionGroupComponent.new(group: @condition, references: @references, level: 1)) %>
    </div>
  </div>
<%- end %>
