<div
  class="<%= component_class %>"
  data-group_id="<%= @group_id %>"
  data-controller="transaction_rules--condition_group_component">
  <% if @level == 0 %>
    <div class="flex w-full items-center justify-between mb-4">
      <h2 class="text-xl font-semibold text-gray-900">Rule Conditions</h2>
      <button
        id="conditions-group-button-<%= @group_id %>"
        data-action="click->transaction_rules--condition_group_component#add_rule"
        class="flex p-2 py-1.5 rounded-lg text-sm text-white bg-primary-700 items-center justify-center" 
        data-turbo-stream href="<%= new_transaction_rule_path() %>">
        <div class="flex items-center gap-x-3"><%= render 'icons/plus' %> Add Condition </div>
      </button>
    </div>
  <% else %>
    <div class="flex w-full items-center justify-between">
      <div class="text-sm font-medium text-orange-800 flex">
        <%= render('icons/folder', class: 'w-4 h-4 text-orange-800') %>
        <span class="pl-2">Condition Group</span>
      </div>
      <button
        id="conditions-group-button-<%= @group_id %>"
        data-action="click->transaction_rules--condition_group_component#add_rule"
        class="flex p-2 py-1.5 rounded-lg text-sm font-medium text-gray-800 bg-white items-center justify-center border border-gray-100" 
        data-turbo-stream href="<%= new_transaction_rule_path() %>">
        <div class="flex items-center gap-x-3"><%= render 'icons/plus', class: 'w-4 h-4 text-gray-800' %> Add Condition </div>
      </button>
    </div>
  <% end %>
  <div
    class="space-y-3 bg-white rounded-lg border bg-card text-card-foreground shadow-sm border-l-4 border-l-blue-500 mb-4 hidden"
    id="conditions-group-form-<%= @group_id %>">
    <div class="p-4">
      <%= form_for(:condition, method: :post, url: conditions_transaction_rule_path) do |f| %>
        <%- if should_join_next_condition? %>
          <%=
            f.select :join_by, [['AND', 'and'], ['OR', 'or']],
                     { selected: 'or' },
                     class: 'bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg'
          %>
        <%- end %>
        <%=
          f.select :type, condition_options, {},
                   class: 'bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                   data: { action: 'change->transaction_rules--condition_group_component#display_value_field' }
        %>
        <%=
          f.select :category_id, @references[:categories], {},
                   class: 'hidden condition-value bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                   data: { action: 'change->transaction_rules--condition_group_component#validate_value' }
        %>
        <%=
          f.select :transaction_type, @references[:transaction_types], {},
                   class: 'hidden condition-value bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                   data: { action: 'change->transaction_rules--condition_group_component#validate_value' }
        %>
        <%=
          f.text_field :tags, autofocus: true, autocomplete: "tags", placeholder: 'Enter Comma Separated Tags',
                       class: 'hidden condition-value bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                       data: { action: 'input->transaction_rules--condition_group_component#validate_value' }
        %>
        <%=
          f.text_field :amount, autofocus: true, autocomplete: "amount", placeholder: 'Enter Amount',
                       class: 'hidden condition-value bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                       data: { action: 'input->transaction_rules--condition_group_component#validate_value' }
        %>
        <%=
          f.select :bank_account_id, @references[:accounts], {},
                   class: 'hidden condition-value bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg',
                   data: { action: 'change->transaction_rules--condition_group_component#validate_value' }
        %>
        <%= f.hidden_field :group_id, value: @group.dig('id') %>
        <%=
          f.submit "Save",
                   id: "save-condition-#{ @group_id }",
                   class: 'hidden cursor-pointer ms-3 text-white bg-blue-700 font-sm rounded-lg text-xs px-4 py-2 text-center'
        %>
        <%=
          f.button "Dismiss", type: 'button', data: {action: "click->transaction_rules--condition_group_component#dismiss_form"},
                   id: "dismiss-condition-#{ @group_id }",
                   class: 'cursor-pointer ms-3 text-white bg-red-400 font-sm rounded-lg text-xs px-4 py-2 text-center'
        %>
      <% end %>
    </div>
  </div>
  <div class="text-gray-900 text-sm w-full rounded-lg overflow-hidden">
    <%- (@group['conditions'] || []).each_with_index do |condition, index| %>
      <%= render(TransactionRules::ConditionComponent.new(
        group_id: @group['id'],
        index: index,
        condition: condition, 
        references: @references)) %>
    <%- end %>
  </div>
</div>
