<div class="mx-auto rounded-lg shadow-lg overflow-hidden bg-white mb-6">
  <!-- Bank Header -->
  <div class="bg-primary text-white p-4 flex justify-between items-center" style="background-color: <%= bank.bank_brand_color %> ">
    <div class="flex items-center space-x-3">
      <div style="background-color: <%= bank.bank_brand_color %>" class="w-10 h-10 bg-white rounded-md flex items-center justify-center">
        <%= render "icons/#{bank.bank_icon}" %>
      </div>
      <div style="color: <%= bank.bank_text_color %>">
        <h1 class="text-xl font-bold"><%= bank.bank_name %></h1>
        <p class="text-sm opacity-80">last updated <%= time_ago_in_words(bank.updated_at) %> ago</p>
      </div>
    </div>
    <div class="flex space-x-2">
      <%= link_to refresh_path, class: "bg-white text-primary hover:bg-gray-100 px-3 py-2 rounded-md flex items-center text-sm font-medium text-blue-600" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12a9 9 0 0 0-9-9 9 9 0 0 0-9 9 9 9 0 0 0 9 9 9 9 0 0 0 9-9Z"/><path d="m13 15-3-3 3-3"/></svg>
        Refresh
      <% end %>
      <button class="bg-white hover:bg-gray-100 px-3 py-2 rounded-md flex items-center text-sm font-medium text-blue-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c5.1 0 8.5 4.15 8.5 8.5a8.34 8.34 0 0 1-1.78 5.13"/><path d="M17.68 13.68A3 3 0 0 0 16 13c-.78 0-1.44.3-1.96.77"/><path d="M6.62 6.62A8.4 8.4 0 0 0 3.5 13.5c0 4.35 3.4 8.5 8.5 8.5a8.36 8.36 0 0 0 6.96-3.7"/><path d="M2 2 22 22"/></svg>
        Hide Accounts
      </button>
    </div>
  </div>
  <!-- Accounts Table -->
  <table class="w-full">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Account Name
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Type
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700 text-right">
          Balance
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% accounts.each do |account| %>
        <%= render "accounts/account_row", account: account, bank_options: bank_options, account_types: account_types %>
      <% end %>
    </tbody>
  </table>
</div>
