<div class="mx-auto rounded-lg shadow-lg overflow-hidden bg-white mb-6">
  <!-- Bank Header -->
  <div class="bg-primary text-white p-4 flex justify-between items-center" style="background-color: <%= bank.bank_brand_color %> ">
    <div class="flex items-center space-x-3">
      <div style="background-color: <%= bank.bank_brand_color %>" class="w-10 h-10 bg-white rounded-md flex items-center justify-center">
        <%= render "icons/#{bank.bank_icon}" %>
      </div>
      <div style="color: <%= bank.bank_text_color %>">
        <h1 class="text-xl font-bold"><%= bank.bank_name %></h1>
        <p class="text-sm opacity-80">last updated <%= time_ago_in_words(bank.updated_at) %> ago</p>
      </div>
    </div>
    <div class="flex space-x-2">
      <%= link_to refresh_path, data: {'turbo-stream' => ''}, class: "bg-white text-primary hover:bg-gray-100 px-3 py-2 rounded-md flex items-center text-sm font-medium text-blue-600" do %>
        Refresh
      <% end %>
      <!--<button class="bg-white hover:bg-gray-100 px-3 py-2 rounded-md flex items-center text-sm font-medium text-blue-600">
        Hide Accounts
      </button>-->
    </div>
  </div>
  <!-- Accounts Table -->
  <table class="w-full">
    <thead>
      <tr class="bg-gray-100 text-left">
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Account Name
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Nick Name
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Type
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700 text-right">
          Balance
        </th>
        <th scope="col" class="px-4 py-3 font-medium text-gray-700">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% accounts.each do |account| %>
        <%= render "accounts/account_row", account: account, bank_options: bank_options, account_types: account_types %>
      <% end %>
    </tbody>
  </table>
</div>
