<div id="show_connector" class="px-4 pt-6 dark:bg-gray-900">
  <div class="mb-4 col-span-full xl:mb-2">
    <nav class="flex mb-5" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
        <li class="inline-flex items-center">
          <a href="#" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
            <%= render "icons/home" %>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <%= render "icons/arrow-right" %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Connectors</span>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <%= render "icons/arrow-right" %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page"><%= @bank_name %></span>
          </div>
        </li>
      </ol>
    </nav>
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= @bank_name %></h1>
    <div class="px-4 p-6 my-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <% if @connector.status != 'connected' %>
        <span> You are not connected to <%= @bank_name %> yet. Bank can be connected through following options</span>
        <!--<h3 class="my-4 mb-2 text-lg font-semibold text-gray-900">We connect to your bank directly</h3>
        <ol class="space-y-1 text-gray-500 list-disc list-inside">
          <li> We take your username and password </li>
          <li> We login in your bank account </li>
          <li> You authroize connection </li>
          <li> We fetch your accounts and transaction </li>
        </ol>
        <%= link_to "Connect Directly", new_direct_connect_path(bank: params[:bank]), class: 'text-blue-600', data: {'turbo-stream' => ''} %>-->
        <h3 class="mt-6 my-4 mb-2 text-lg font-semibold text-gray-900"> You connect through our extension </h3>
        <ol class="space-y-1 text-gray-500 list-disc list-inside">
          <li> You install our extension </li>
          <li> You login to your bank account </li>
          <li> We verify your login and fetch your accounst and transactions </li>
        </ol>
        <%= link_to "Connect Through Extension", new_extension_connect_path(bank: params[:bank]), class: 'text-blue-600', data: {'turbo-stream' => ''} %>
      </div>
    <% else %>
    <span> You are connected to <%= @bank_name %>. <%= link_to "Refresh Your Account", new_extension_connect_path(bank: params[:bank]), class: 'text-blue-600', data: {'turbo-stream' => ''} %></span>
    <% end -%>
  </div>
</div>
<div id="new_connector"></div>
