<nav class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center px-3 py-3 lg:px-5 lg:pl-3">
    <div class="w-3/4">
      <a href="/" class="flex ml-2 md:mr-24">
        <%= image_tag("logo.svg", class: 'h-8 mr-3') %>
        <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">Sweaty Wallet</span>
      </a>
    </div>
    <div class="w-1/4 flex justify-end">
      <div class="pr-3">
        <div class="text-base"><%= current_user.name %></div>
        <div class="text-sm"><%= current_user.email %></div>
      </div>
      <div class="border-l-2 pl-2">
        <button type="button" class="flex text-sm bg-gray-800 rounded-full" id="user-menu-button-2" aria-expanded="false" data-dropdown-toggle="dropdown-2">
          <span class="sr-only">Open user menu</span>
          <% if current_user.avatar.attached? %>
            <%= image_tag rails_blob_path(current_user.avatar, disposition: "attachment", only_path: true), class: 'w-10 h-10 rounded-full', alt: 'User Photo' %>
          <% else %>
            <%= image_tag 'person.svg', class: 'w-10 h-10 rounded-full', alt: 'User Photo' %>
          <% end %>
        </button>
      </div>
    </div>
    <!-- Dropdown menu -->
    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-2">
      <div class="px-4 py-3" role="none">
        <p class="text-sm text-gray-900 dark:text-white" role="none">
          Neil Sims
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
          neil.sims@flowbite.com
        </p>
      </div>
      <ul class="py-1" role="none">
        <li>
          <a href="<%= root_path %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
        </li>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' %>
        </li>
      </ul>
    </div>
  </div>
</nav>