<tr 
  data-controller="accounts--row"
  data-account_id="<%= account.id %>"
  class="<%= account.active? ? '' : 'bg-gray-50' %>" 
  id="account-row-<%= account.id %>">
  <td class="px-4 py-4">
    <div class="flex items-center">
      <span class="<%= account.active? ? 'font-medium' : 'text-gray-500 font-medium' %>">
        <%= account.name %>
      </span>
      <% unless account.active? %>
        <span class="ml-2 px-2 py-1 text-xs bg-amber-100 text-amber-800 rounded-full">
          Inactive
        </span>
      <% end %>
    </div>
  </td>
  <td class="p-4"><%= account.nick_name %></td>
  <td class="px-4 py-4 <%= account.active? ? '' : 'text-gray-500' %>">
    <%= account.account_type_label %>
  </td>
  <td class="px-4 py-4 text-right font-medium">
    <%= account.balance %>
  </td>
  <td class="px-4 py-4 w-40">
    <button class="p-2 px-1 text-gray-500 hover:bg-gray-100 rounded-md" type="button" data-action="click->accounts--row#open_drawer">
      <%= render 'icons/edit' %>
    </button>
    <%- unless account.active? %>
      <button class="p-2 px-1 text-gray-500 hover:bg-gray-100 rounded-md" type="button" data-action="click->accounts--row#open_drawer">
        <%= render 'icons/merge' %>
      </button>
      <button class="p-2 px-1 text-gray-500 hover:bg-gray-100 rounded-md" type="button" data-action="click->accounts--row#open_drawer">
        <%= render 'icons/delete' %>
      </button>
    <%-end %>
    <!-- drawer component -->
    <%= render 'helpers/right_drawer',
    drawer_id: "drawer-account-form-#{account.id}",
    title: "Update Account",
    close_action: "click->accounts--row#close_drawer" do %>
      <%= render "accounts/account_form", account: account, bank_options: bank_options, account_types: account_types %>
    <%- end %>
  </td>
</tr>
