<div id="accounts-page" class="px-4 pt-6 dark:bg-gray-900">
  <div class="mb-4 col-span-full xl:mb-2">
    <nav class="flex mb-5" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
        <li class="inline-flex items-center">
          <a href="/" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
            <%= render "icons/home" %>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <%= render "icons/arrow-right" %>
            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Accounts</span>
          </div>
        </li>
      </ol>
    </nav>
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Your Accounts</h1>
    <div class="my-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Account Name
              </th>
              <th scope="col" class="px-6 py-3">
                Type
              </th>
              <th scope="col" class="px-6 py-3">
                Balance
              </th>
              <th scope="col" class="px-6 py-3">
                Bank
              </th>
            </tr>
          </thead>
          <tbody>
            <% @accounts.each do |account| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= account.name %>
                </td>
                <td class="px-6 py-4">
                  <%= account.account_type %>
                </td>
                <td class="px-6 py-4">
                  <%= account.balance %>
                </td>
                <td class="px-6 py-4">
                  <%= account.connector.bank %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
