<div id="transactions-manage-page" data-controller="transaction_rules--edit" class="p-2 bg-gray-100">
  <div class="flex items-center justify-between p-4">
    <div class="mb-4">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Manage Rule</h1>
    </div>
    <div class="ml-auto flex items-center space-x-2 sm:space-x-3">
      <button type="button" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex px-4 py-2 pr-4 rounded-lg text-sm text-white bg-primary-700 items-center justify-center">
        <div class="flex items-center gap-x-1"> <%= @transaction_rule.name %> <%= render('icons/arrow-down') %> </div>
      </button>
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-xl w-44 ">
        <ul class="py-2 border-gray-200 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <%- @transaction_rules.each do |rule| %>
            <li>
              <a href="<%= edit_transaction_rule_path(rule.last) %>" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <%= rule.first %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <a class="flex px-4 py-2 pr-2 rounded-lg text-sm text-white bg-primary-700 items-center justify-center" href="<%= preview_transaction_rule_path(id: @transaction_rule.id) %>">
        <div class="flex items-center gap-x-1"> Preview  <%= render('icons/arrow-right', class: 'w-5 h-5 text-white', view_box: '0 0 20 20') %> </div>
      </a>
    </div>
  </div>
  <div class="px-4 py-6 flex justify-center">
    <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
      <%= form_with(model: @transaction_rule, url: transaction_rule_path(id: params[:id])) do |f| %>
        <div class="mb-6">
          <%= f.label :name, 'Rule Name', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Enter Rule Name', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5' %>
        </div>
        <div class="mb-6">
          <%= f.label :category_id, 'Target Category', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
          <%= f.select :category_id, @user_references[:categories], {}, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
        </div>
        <div class="flex items-center justify-end">
          <%= f.submit "Update", class: 'cursor-pointer ms-3 text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="px-4 py-6 flex justify-center">
    <div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm">
      <%= render('transaction_rules/rules_conditions', group: @transaction_rule.conditions, references: @user_references) %>
    </div>
  </div>
</div>
