<div id="transaction-rules-page" class="p-2 bg-white">
  <div class="block items-center justify-between p-4">
    <div class="w-full">
      <div class="mb-4">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Your Rules</h1>
      </div>
      <div class="sm:flex">
        <div class="ml-auto flex items-center space-x-2 sm:space-x-3">
          <a class="flex p-2 py-1.5 rounded-lg text-sm text-white bg-primary-700 items-center justify-center" data-turbo-stream href="<%= new_transaction_rule_path() %>">
            <div class="flex items-center gap-x-3"><%= render 'icons/plus' %> Add Rule </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="relative overflow-x-auto p-4 pt-0">
    <div class="border border-gray-300 rounded-lg overflow-hidden">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="p-4 border-blue-gray-100 bg-gray-200">
              <p class="block font-sans text-sm antialiased font-normal leading-none">Name</p>
            </th>
            <th scope="col" class="p-4 border-blue-gray-100 bg-gray-200">
              <p class="block font-sans text-sm antialiased font-normal leading-none">Target Category</p>
            </th>
            <th scope="col" class="p-4 border-blue-gray-100 bg-gray-200"></th>
          </tr>
        </thead>
        <tbody>
          <% @transaction_rules.each do |rule| %>
            <tr class="bg-white border-b">
              <td class="p-4 py-2">
                <%= rule.name %>
              </td>
              <td class="p-4 py-2">
                <%= rule.category.name %>
              </td>
              <td class="p-4 py-2">
                <div class="flex">
                  <%= link_to('Manage', 
                  edit_transaction_rule_path(id: rule.id), 
                  class: 'flex p-2 py-1.5 rounded-lg text-sm text-white bg-blue-700 items-center justify-center mx-2') %>
                <%= link_to('Preview', 
                  preview_transaction_rule_path(id: rule.id), 
                  class: 'flex p-2 py-1.5 rounded-lg text-sm text-white bg-green-700 items-center justify-center mx-2') %>
                <%= link_to('Delete', 
                  transaction_rule_path(id: rule.id),
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
                  class: 'flex p-2 py-1.5 rounded-lg text-sm text-white bg-red-700 items-center justify-center mx-2') %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
